.header__lang-link{
  color: white;
  right: 0;
  bottom: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  margin: 0;
  text-decoration: none;
}
.header__lang-link:hover{
    opacity: 70%;
    transition: 0.2s ease-in-out;

}
@media screen and (max-width: 320px) {
  .header__lang-link{
    font-size: 18px;
    line-height: 20px;
  }
}