.header{
    margin: 28px 48px 0 48px;
    display: flex;
    justify-content: space-between;
    max-width: 100%; 
}
@media screen and (max-width: 768px){
    .header{
        margin: 28px 24px 0px 24px;
    }
}
@media screen and (max-width: 320px){
    .header{
        margin: 16px 16px 0px 16px;
    }
}