.header__lang-link-active{
    text-decoration-line: underline;
    color: white;
    right: 0;
    bottom: 0;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    margin-right: 18px;
}
.header__lang-link-active:hover{
    opacity: 70%;
    transition: 0.2s ease-in-out;
}
@media screen and (max-width: 320px) {
    .header__lang-link-active{
      font-size: 18px;
      line-height: 20px;
    }
  }