.place__paragraph:first-child {
    margin: 0;
}

.place__paragraph {
    margin: 26px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .place__paragraph:first-child {
        margin: 48px 0 0 32px;
    }
    .place__paragraph {
        margin: 27px 0 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph:first-child {
        margin: 48px 0 0 28px;
    }
    .place__paragraph {
        margin: 25px 0 0 28px;
        font-size: 16px;
    }
}

@media screen and (max-width: 460px) {
    .place__paragraph:first-child {
        margin: 32px 16px 0 16px;
    }
    .place__paragraph {
        margin: 25px 16px 0 16px;
        font-size: 16px;
    }
}