.place__link {
    margin: 12px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    text-decoration-line: underline;
}

.place__link:hover {
    transition: 0.2s;
    opacity: 80%;
}

@media screen and (max-width: 502px) {
    .place__link {
        font-size: 3.1873vw;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        font-size: 18px;
    }
}