.cover__background{
  background: url(../../../images/__background.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
  width: 1184px;
  height: 740px;
  position: relative;
  opacity: 0.7;
  text-decoration: none;
}
.cover__background:hover{
  opacity: 0.3;
  transition: 0.2s;
}