.footer__list{
    margin: 0;
}
.footer__list:first-of-type{
    margin: 0;
}
@media screen and (max-width: 320px) {
  .footer__list{
      margin: 32px 2px 0px 0px;
  }
  .footer__list:first-of-type{
      margin: 0px 0px 0px 0px;
  }
}